h3{
  color: #f7325e;
}
.tropical{
  font-family: fantasy;
  color: #7dc410;
}


body{
  background-color: #424041c5;
}
.popular{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  color: #fca608c5
}
img{
  height: 5in;
  width: 6in;
}