li.tropical{
  font-family: fantasy;
  color: #7dc410;
}
h3.tropical{
  color: #f7325e;
}
body{
  background-color: #424041c5
}
li.popular{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  color: #fca608c5
}
img{
  height: 5in;
  width: 6in;
}